@{
    ViewBag.Title = "Home";
}

<!-- header image -->
<div class="header-img"></div>
<!-- end header image -->
<!-- Welcome message -->
<div class="welcome-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="welcome-wrapper">
                        <h2 class="welcome-title text-uppercase">Welcome</h2>
                        <img src="~/content/img/welcome-divider-lines.png" alt="Welcome divider" class="welcome-divider-lines-img">
                        <p class="welcome-description">Multi Profile is free responsive website template for everyone. Feel free to download and use this template for your websites. Thank you for visiting templatemo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <p>Here is some sample  to see where it shows up on the screen</p>
    </div>
    <div class="col-md-4">
        <p>test text</p>
    </div>
    <div class="col-md-4">
        <p>thiwshafokhdlfkh</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>